$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dart: #28b485;
$color-grey-dart: #777;
$color-white: #fff;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dart;
  padding: 3rem;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.8),
                  rgba($color-primary-dart, 0.8)),
  url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%););
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}
.btn:active{
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}
.btn--white{
  background-color: $color-white;
  color: $color-grey-dart;
}
.btn::after{
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;

}